apiVersion: v1
kind: ConfigMap
metadata:
  name: wtn-tracking-configmap
data:
  MICROSERVICE_NAME: wtn-tracking
  DATASOURCE_USERNAME: "apptrk"
  DATASOURCE_PASSWORD: "apptrk"
  DATASOURCE_URL: "jdbc:postgresql://postgres/wtndbdev"
  FILE_TRACKING_DIR: "/mnt/nfs/app-data/file/tracking/"
  # En caso de arrancar con gradle, indicarle donde dejar lo que se descarga de Nexus:  
  GRADLE_USER_HOME: "/docker/gradle_user_home/wtn-tracking"