apiVersion: v1
kind: Service
metadata:
  name: nginx-ingress-lb
  namespace: sysops
spec:
# Can also use LoadBalancer type
  type: NodePort
  ports:
  - port: 80
    # Valid external ports range: 30000-32767
    nodePort: 30080
  selector:
    k8s-app: nginx-ingress-lb